<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="full">
    <ion-icon slot="start" name="information-circle-outline"></ion-icon>
    <ion-label>
      <span>Version </span>
      <span>1.0</span>
    </ion-label>
  </ion-item>

  

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>How to play</ion-card-subtitle>
      <ion-card-title>Goal</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>The goal of the game is to be the player that passes the winnings score.<br><br></p>         
      <li>You gain or lose points depending on the way the pigs land.</li>
      <li>The way the pigs land is random.</li>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>How to play</ion-card-subtitle>
      <ion-card-title>Rules</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Each player gets to throw the pigs each round.<br><br></p>         
      <li>The player's turn lasts until the player gets a 0 as a score or passes.</li>
      <li>Passing saves the score to the player's total score.</li>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>How to play</ion-card-subtitle>
      <ion-card-title>Tips</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Strategy is the key to winning.<br><br></p>         
      <li>Plan on when to risk a higher score and when to save what you have.</li>
      <li>It is always possible to get a 0 and lose what you have so far.</li>
    </ion-card-content>
  </ion-card>

</ion-content>
